div {
    font-family: fantasy;
}

body {
    margin: 0;
    background: url(http://img09.deviantart.net/5fa9/i/2014/102/f/8/the_book_of_life_by_twostepsfromhell2-d7e5fpe.jpg);
    background-size: cover;
}

.header {
    clear
    text-align: center;
    margin: 0 auto;
    height: 80px;
    width: 100%;
}

#head {
    text-align: center;
    margin: 0 auto;
    color:	#00CED1;
    font-size: 35px;
    /*margin: 10px;*/
    font-family: 'Neucha', cursive;
}

#head2 {
    text-align: center;
    margin: 0 auto;
    color: #00BFFF;
    font-size: 20px;
    font-family: cursive;
    /*margin: -12px;*/
}

}
.left {
    float: left;
    height: 390px;
    width: 170px;
    font-family: cursive;
    padding-left: 10px;
    font-size: 18px;
}

.right {
    float: right;
    height: 390px;
    width: 90px;
    background-color: blue;
    color: 	#DAA520;
    font-family: Сomic Sans MS, cursive;
    padding: 10px;
}

#footer {
    clear: both;
    height: 50px;
    width: 100%;
    background-color: green;
    padding-top: 8px;
    text-align: center;
}

#head3 {
    color: green;
    text-align: center;
    font-family: cursive;
    text-transform: uppercase;
    margin: -10px auto;
    padding: 10px;
}

img {
    height: 250px;
    border: 1px solid #778899;
}

.container{
    width: 80%;
    height: 100px;
    margin: 0 auto;
}

#search {
    text-align: center;
}

input:focus {
    background: #eaeaea;
}