div {
    font-family: fantasy;
}

body {
    background: url(http://img09.deviantart.net/5fa9/i/2014/102/f/8/the_book_of_life_by_twostepsfromhell2-d7e5fpe.jpg) no-repeat 50% 0%;

    background-size: cover;
}

#header {
    clear
    z-index: 1;
    height: 80px;
    width: 100%;
}

/*НАВИГАЦИЯ*/
#nav{
    float:left;
    clear: right;
	list-style:none;
    /*margin-top: 15px;*/
	/*margin-bottom:10px;*/
    /*margin-left: 100px;*/
    border: none;
    }
#nav li{
    float:left;
    margin-right:10px;
    position:relative;
    display:block;
    z-index: 1;
}
#nav li a{
	display:block;
	padding:5px;
	color: #3CB371;
	background: #B0E0E6;
	text-decoration:none;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:10px;
}
#nav li a:hover{
	color: #ADD8E6;
	background: blue;
	background:rgba(107,12,54,0.75); /* Выглядит полупрозрачным */
	text-decoration:underline;
}

/*  ВЫПАДАЮЩИЕ ПУНКТЫ*/
#nav ul{
	list-style:none;
	position:absolute;
    left:-9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
    margin-left: -75px;
    margin-top: auto;
	opacity:0; /* Устанавливаем начальное состояние прозрачности */
	-webkit-transition:0.25s linear opacity; /* В Webkit выпадающие пункты будут проявляться */
    z-index: 1;
}
#nav ul li{
	padding-top:1px; /* Вводим отступ между li чтобы создать иллюзию разделенных пунктов меню */
	float:none;
	background:url(dot.gif);
}
#nav ul a{
	white-space:nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
	display:block;
}
#nav li:hover ul{ /* Выводим выпадающий пункт при наведении курсора */
	left:0; /* Приносим его обратно на экран, когда нужно */
	opacity:1; /* Делаем непрозрачным */
}
#nav li:hover a{ /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */
	background: blue;
	background:rgba(107,12,54,0.75); /* Выглядит полупрозрачным */
	text-decoration:underline;
}
#nav li:hover ul a{ /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
	text-decoration:none;
	-webkit-transition:-webkit-transform 0.075s linear;
}
#nav li:hover ul li a:hover{ /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
	background:#333;
	background:rgba(51,51,51,0.75); /* Будет полупрозрачным */
	text-decoration:underline;
	-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05);
}
.left {
    float: left;
    height: 390px;
    width: 170px;
    font-family: cursive;
    padding-left: 10px;
    font-size: 18px;
}

.right {
    float: right;
    height: 390px;
    width: 90px;
    background-color: blue;
    color: 	#DAA520;
    font-family: cursive;
    padding: 10px;
}

#footer {
    clear: both;
    height: 50px;
    width: 100%;
    background-color: green;
    padding-top: 8px;
    text-align: center;
}

#head {
    text-align: center;
    color:	#00CED1;
    font-size: 35px;
    /*margin: 10px;*/
    font-family: Comic Sans MS, halkduster, cursive, fantasy;
}

#head2 {
    text-align: center;
    color: #00BFFF;
    font-size: 20px;
    font-family: cursive;
    /*margin: -12px;*/
}

#head3 {
    color: green;
    text-align: center;
    font-family: cursive;
    text-transform: uppercase;
    background: linear-gradient(45deg, #4169E1 40%, #AFEEEE 59%, #AFEEEE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
    margin: auto;
}

img {
    height: 250px;
    border: 1px solid #778899;
}

.container{
    width: 80%;
    height: 200px;
    margin:0 auto;
}